*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.color-vue{
    background-color: #3fb27f;
}
a{
    color: white;
    text-decoration: none;
}


header{
    background-color:#3fb27f ;
    color:white;
    position: fixed;
    width: 100%;
    z-index: 32;
}

.headerContainer{
    display: flex;
    padding: 30px 0px;
    justify-content: space-between;
}

.userAction{
    list-style-type: none;
}

header ul{
    margin: 0;
}

.brand{
    font-size: 30px;
    font-weight: 700;
}

.routerDiv{
    display: flex;
    align-items: center;
    
}

header ul li{
    font-size: 20px;
    margin-right: 20px;
}

.signinContainer{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.signinContainer Form{
    width: 500px;
    border: 1px solid seagreen;
    padding: 20px;
    border-radius: 20px;
}

.signinContainer Form h1{
    text-align: center;
    color:lightslategray;
    margin-bottom: 20px;
}

.signinContainer Form input{
    background: ghostwhite;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 12px;
}

.btn-block{
    width: 100%;
    color: white;
    margin-bottom: 20px;
}

.btn-block:hover{
   background-color: white;
   color:#3fb27f;
   border: 1px solid #3fb27f;
}

.signinContainer .formChange{
    cursor: pointer;
    color: #3fb27f;
    font-weight: 100;
    font-size: 20px;
}
.input-alert{
    color:red;
    margin-bottom: 15px;
}

.userAuthAction{
    display: flex;
}
.sidebar{
    top: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
}
.sidebar .nav-link{
    display: flex;
    color: black;
    font-weight: 500;
}

.nav-link.router-link-exact-active{
    color:#3fb27f;
}

.mt150{
    margin-top: 150px;
}